h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding-top: 25px;
    padding-left: 35px;
}
body {
    background-color: rgb(41, 33, 33);
    
}

